
// importing View component css
@import url("Home/Home.css");

// importing variables
@import url("variables/variables.css");

// importing google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  font-family: "Raleway", sans-serif;
}

a {
  padding-right: 3.2px;
  padding-left: 3.2px;
  color: rgb(108, 108, 255);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: white;
    background-color:rgb(108, 108, 255);
  }
}



